<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928133064448-cihut5enoa5rk9ff63tr81pbgbkiro2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928133064448-cihut5enoa5rk9ff63tr81pbgbkiro2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928133064448-8tjuadrtd635bkjo8a756fsuea5td13g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkepjSZKxbOphnZfbigM6fOWXbjMDzf6c</string>
	<key>GCM_SENDER_ID</key>
	<string>928133064448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signalrClient</string>
	<key>PROJECT_ID</key>
	<string>notif-test-9915e</string>
	<key>STORAGE_BUCKET</key>
	<string>notif-test-9915e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928133064448:ios:3a3b55174dcee3cdb3f5e5</string>
</dict>
</plist>